<div class="container">
  <ng-container *ngIf="Cities | async as cities">
    <ng-container *ngFor="let city of cities; index as i">
      <nz-card [nzTitle]="city.name" [nzExtra]="extraTemplate">
        <div class="body">
          <nz-tag nzColor="default" style="margin-bottom: 10px;">Weather</nz-tag>
          <div class="weather">
            <span><strong>Main /</strong></span>
            <span class="data">{{city.weather[0].main}}</span>
            <span><strong>Description /</strong></span>
            <span class="data">{{city.weather[0].description}}</span>
          </div>
          <nz-tag nzColor="default" style="margin-bottom: 10px;">Main</nz-tag>
          <div class="main">
            <span><strong>Humidity /</strong></span>
            <span class="data">{{city.main.humidity}}</span>
            <span><strong>Pressure /</strong></span>
            <span class="data">{{city.main.pressure}}</span>
            <span><strong>Temp Min /</strong></span>
            <span class="data">{{city.main.temp_min}}</span>
            <span><strong>Temp Max /</strong></span>
            <span class="data">{{city.main.temp_max}}</span>
          </div>
        </div>
      </nz-card>
      <ng-template #extraTemplate>
        <a (click)="navigate(city)">Detail</a>
      </ng-template>
    </ng-container>
  </ng-container>
</div>