.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding-right: 20px;
    overflow-y: auto;

    @media only screen and (max-width: 1000px) {
        grid-template-columns: repeat(1, 1fr);
    }

    @media only screen and (min-width: 1500px) {
        grid-template-columns: repeat(3, 1fr);
    }

    nz-card {
        width: 100%;
    }
}

.body {
    width: 100%;
    height: 100%;
    text-align: center;

    .data {
        font-style: italic;
    }

    .weather {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .main {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}