:host {
    display: flex;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .app-layout {
    height: 100vh;
  }
  
  .menu-sidebar {
    position: relative;
    z-index: 10;
    min-height: 100vh;
    box-shadow: 2px 0 6px rgba(0,21,41,.35);
  }
  
  nz-header {
    padding: 0;
    width: 100%;
    z-index: 2;
    height: 54px;
  }
  
  .sidebar-logo {
    position: relative;
    height: 50px;
    overflow: hidden;
    line-height: 50px;
    transition: all .3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
  }
  
  .logo-min {
    display: inline-block;
    height: 24px;
    width: 24px;
    vertical-align: middle;
  }
  
  .logo {
    display: inline-block;
    height: 24px;
    width: 130px;
    vertical-align: middle;
  }
  
  nz-content {
    margin: 24px;
  }
  
  .inner-content {
    padding: 0;
    height: 100%;
  }
  
  nz-footer {
    text-align: center;
    font-size: 12px;
    padding: 12px 50px;
    position: relative;
    z-index: 1000;
  }
  
  .footer-title {
    margin: 0;
  }
  