<nz-layout class="app-layout">
    <nz-sider class="menu-sidebar" nzCollapsible nzWidth="224px" nzBreakpoint="md" [(nzCollapsed)]="isSiderCollapsed"
        [nzTrigger]="null">
        <div class="sidebar-logo">
            <a routerLink='/cities'>
                <img [ngClass]="isSiderCollapsed ? 'logo-min': 'logo'"
                    [src]="'assets/logos/'+ (isSiderCollapsed? brand.logoMinPath : logoPath ) " alt="logo">
            </a>
        </div>
        <ul nz-menu nzTheme="light" nzMode="inline" [nzInlineCollapsed]="isSiderCollapsed">
            <ng-container *ngTemplateOutlet="tplMenu; context: { $implicit: menu}"></ng-container>
            <ng-template #tplMenu let-menus>
                <ng-container *ngFor="let menu of menus">
                    <li *ngIf="!menu.children" nz-menu-item nz-tooltip nzTooltipPlacement="right" nzMatchRouter
                        [nzTooltipTitle]="isSiderCollapsed ? (menu.title) : ''" [nzSelected]='menu.selected'
                        [nzDisabled]='menu.disabled' (click)='!menu.disabled? onMenuClick(menu.routerLink):"" '>
                        <i *ngIf="menu.icon" nz-icon [nzType]="menu.icon"></i>
                        <span>{{menu.title}}</span>
                        <a [routerLink]="menu.routerLink"></a>
                    </li>
                    <li *ngIf="menu.children" nz-submenu [nzTitle]="menu.title" [nzIcon]="menu.icon"
                        nz-tooltip nzTooltipPlacement="right"
                        [nzTooltipTitle]="isSiderCollapsed ? (menu.title) : ''" [nzDisabled]='menu.disabled'>
                        <ng-container *ngFor="let item of menu.children">
                            <ul>
                                <li nz-menu-item (click)='!item.disabled? onMenuClick(item.routerLink):"" '
                                    nzMatchRouter>
                                    {{item.title}}
                                    <a [routerLink]="menu.routerLink"></a>
                                </li>
                            </ul>
                        </ng-container>
                    </li>
                </ng-container>
            </ng-template>
        </ul>
    </nz-sider>
    <nz-layout style="overflow: hidden;">
        <nz-header>
            <app-top-bar [isSiderCollapsed]="isSiderCollapsed" (isCollapsed)="onCollapsed($event)"></app-top-bar>
        </nz-header>
        <nz-content>
            <div class="inner-content">
                <router-outlet></router-outlet>
            </div>
        </nz-content>
        <nz-footer class="nz-footer">
            <p nz-typography nzEllipsis class="footer-title">
                <strong>{{footer.productName}}</strong> - {{footer.copyright}} - v.{{version}}
            </p>
        </nz-footer>
    </nz-layout>
</nz-layout>

