//Default Custom Color
@import "./styles.less";

@info-color      : #696DC6;
@processing-color: #696DC6;
@primary-color   : #696DC6;
@accent-color    : #56C57B;

@gradient-top-color   : rgba(105, 109, 198, 0.75);
@gradient-bottom-color: rgba(86, 197, 123, 0.4);