// Custom Theming for NG-ZORRO
@import "../../../node_modules/ng-zorro-antd/ng-zorro-antd.less";

// Override less variables to here
// View all variables: https://github.com/NG-ZORRO/ng-zorro-antd/blob/master/components/style/themes/default.less

// @primary-color: #1890ff;
/* You can add global styles to this file, and also import other style files */

//Custom-color
@success-color  : #49aa19;
@error-color    : #f5222d;
@highlight-color: #f5222d;
@warning-color  : #fa8c16;
@normal-color   : #d9d9d9;
@white          : #fff;
@black          : #000;
@bg-white:@white;

//Override Variables
@layout-sider-background:@bg-white;
@layout-header-background:@bg-white;
@body-background: @bg-white;
@layout-footer-background: @bg-white;
@layout-header-height: 48px;
@menu-bg: @white;
@border-radius-base: 4px;
@avatar-bg: @primary-color;


//Global Class
.primary {
  color: @primary-color;
}

.accent {
  color: @accent-color;
}

.success {
  color: @success-color;
}

.warning {
  color: @warning-color;
}

.error {
  color: @error-color;
}

.primary-bg {
  background-color: @primary-color;
}

.accent-bg {
  background-color: @accent-color;
}

.left-colored-panel {
  position: relative;
  opacity: 0.4;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom,@gradient-top-color,@gradient-bottom-color);
  background-size: cover;
}

.header-hover:hover{
  background-color: #e4e4e414;
  border-radius: 4px;
}

.modal-content {
  padding: 12px;
}

.ant-modal .ant-picker-clear {
  background-color: #ffffff00;
}

//--------WEBKIT-----------
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
