.container {
    width: 100%;
    height: 100%;
    overflow-y: auto;

    .businesses {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding-right: 20px;

        @media only screen and (max-width: 1000px) {
            grid-template-columns: repeat(1, 1fr);
        }

        @media only screen and (min-width: 1500px) {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

.info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}