<div class="container">
    <ng-container *ngIf="BusinessData | async as Business">
        <h1 nz-typography><strong>{{Coordinates.cityName}}</strong> / latitude: {{Coordinates.lat}} longitude:
            {{Coordinates.lon}}</h1>
        <h2 nz-typography>Total businesses found: {{Business.total}}</h2>
        <div class="businesses">
            <ng-container *ngFor="let business of Business.businesses; index as i">
                <nz-card nzHoverable [nzCover]="coverTemplate" [nzActions]="[search]">
                    <nz-card-meta [nzTitle]="business.name" [nzDescription]="description"></nz-card-meta>
                </nz-card>
                <ng-template #search>
                    <a (click)="businessYelpPage(business.url)">
                        <i nz-icon nzType="arrow-right" nzTheme="outline"></i>
                    </a>
                </ng-template>
                <ng-template #coverTemplate>
                    <img style="max-height: 200px; object-fit: cover" [alt]="business.alias"
                        [src]="business.image_url ? business.image_url : 'https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png'" />
                </ng-template>
                <ng-template #description>
                    <div class="info">
                        <span><strong>Closed:</strong></span>
                        <span>{{business.is_closed}}</span>
                        <span><strong>Phone:</strong></span>
                        <span>{{business.display_phone}}</span>
                        <span><strong>Rating:</strong></span>
                        <span>{{business.rating}}</span>
                        <span><strong>Address:</strong></span>
                        <span>{{business.location.address1}}</span>
                    </div>
                </ng-template>
            </ng-container>
        </div>
    </ng-container>
</div>