<div class="app-header">
    <span class="header-trigger" (click)="onCollapsed()">
        <i class="trigger" class="primary" nz-icon nzTheme="fill"
            [nzType]="isSiderCollapsed ? 'caret-right' : 'caret-left'"></i>
    </span>
    <span class="header-items">
        <span class="header-item">
            <nz-switch [(ngModel)]="darkTheme" (ngModelChange)="changeTheme()" [nzCheckedChildren]="checkedTemplate"
                [nzUnCheckedChildren]="unCheckedTemplate">
            </nz-switch>
        </span>
        <span class="header-item header-hover">
            lang
            <!-- <button nz-button nz-dropdown nzType="link" [nzDropdownMenu]="langMenu" [nzPlacement]="'bottomCenter'">
                <i nz-icon nzType="global" nzTheme="outline"></i>
            </button> -->
        </span>
        <span class="header-item">
            User
            <!-- <a nz-dropdown [nzDropdownMenu]="menu_user" [nzPlacement]="'bottomRight'">
                <nz-avatar [nzShape]="'square'" [nzText]="getUserInitials()"></nz-avatar>
            </a> -->
        </span>
    </span>
</div>


<ng-template #spaceSplit>
    <nz-divider nzType="vertical"></nz-divider>
</ng-template>

<ng-template #checkedTemplate><i nz-icon nzType="icon-ui:moon"></i></ng-template>
<ng-template #unCheckedTemplate><i nz-icon nzType="icon-ui:sun"></i></ng-template>
