.app-header {
    position: relative;
    height: 100%;
    padding: 0;
    box-shadow: 0 1px 4px rgba(0,21,41,.08);
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: flex-start;
  }
  
  .header-trigger {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    height: 100%;
    margin: 0 12px;
    font-size: 18px;
    cursor: pointer;
    transition: all .3s,padding 0s;
  }
  
  .header-items {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
  }
  
  .header-item {
    margin: 0 12px;
    font-size: 18px;
    cursor: pointer;
    transition: all .3s,padding 0s;
  }
  
  .dropdown {
    margin-top: 22px;
  }
  
  .dropdown-button {
    margin-top: 16px;
  }